

body {
	margin: 0;
	padding: 0;
	color: #8f7b76;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.4em; 
	background-color: #d5ccbd;
}

h1, h2{
	color:#b04b2f;
	font-weight:400;
	padding: 0;
	margin: 0 0 10px 0;
}

h1 { font-size:34px; margin-bottom: 35px  }
h2 { font-size:26px; margin-bottom: 30px; line-height: 20px; }

.left { float:left }
.right { float:right }
.clear { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h60 { height: 60px }

img { margin: 0; padding: 0; border: 0 }
.img_border { border: 1px solid #eaeaea; background: #ffffff; }
.img_border_s { padding: 3px }
.img_border_b { padding: 6px }
.img_nom { display: block; margin-bottom: 15px }
.img_fl { float: left; display: block; margin: 1px 20px 8px 0 }
.img_fr { float: right; margin: 1px 0 8px 20px }

p { margin: 0 0 10px 0; padding: 0 }
em { color: #8c8c8c }
hr { clear: both; margin-bottom: 40px; padding-top: 28px; border: none; background: url(images/tooplate_hr.png) center bottom no-repeat }

label { display: block; }
input { margin-bottom: 10px }

a:link, a:visited { color:#9b412d; text-decoration: none}
a:hover { text-decoration:underline }
a:hover,a:active { outline:none }

a.more { display: block; margin-top: 15px; color: #485c68; width: 69px; height: 24px; line-height: 24px; text-align: center; background: url(images/tooplate_more.png) }

a.button { display: inline-block; padding: 5px 10px; background: #9b6150; border: 1px solid #fff; color: #fff; font-weight: 700 }
a.button:hover { background: #842d1c; border: 1px solid #fff }

a.button, a.more { text-decoration: none }

#cajaContenedora {
	margin-left:12%;
	margin-right:12%;
	padding: 0.3% 15px;
	position: relative;
	margin-bottom: 20px;
	background-color:white;
	border-radius:20px;
	
}

#footer{
	padding: 10px 15px 10px;
	text-align: center;
}

.contenido h1, .product h2 {
	margin-left: 20px;
}
.product .product_box {
	float: left;
	width: 190px;
	background: #eae7e3;
	border: 1px solid #fff;
	margin: 15px;
	padding: 15px;
}
.product .product_box .img_box {
	width: 160px;
	height: 148px;
	padding: 5px;
	text-align: center;
	background: #fff;
	margin-bottom: 15px;
	position: relative;
}
.product .product_box .img_box span {
	position: absolute;
	width: 170px;
	height: 12px;
	bottom: -12px;
	left: 0;
	background: url(images/image_frame.png) center top no-repeat
}


.product .product_box h2 a {
	font-weight: bold;
	color: #666;
	font-size: 14px;	
	text-transform: uppercase
}
.product .price {
	font-size: 30px;
	color: #dbc400;
	font-weight: 700;
	font-family: "MS Serif", "New York", serif;
}

.product .price span {
	font-family: Verdana, Geneva, sans-serif;
	display: inline-block;
	margin-left: 20px;
	font-size: 11px;
	font-weight: 400;
	color: #8f7b76
}
.product .price strong { color: #842c1b }

.product .add_to_cart { display: block; float: left; margin-right: 20px; line-height: 18px; }

.popular_products li { color: #999; padding: 10px; }
.popular_products li img { float: left; border: 1px solid #fff; margin-right: 10px }
.popular_products li span { display: block; }
.popular_products li span.title { margin-bottom: 5px; font-weight: 700; }
.popular_products li span.price { color: #dbc400; font-size: 14px; font-weight: 700; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif }
